@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://getbootstrap.com/docs/4.3/assets/css/docs.min.css');

#title-footer {
  height: 4vh !important;
  display: none !important;
}

code {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
