@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

#title-footer {
  height: 4vh !important;
  display: none !important;
}

.input-group > .form-control {
  height: unset;
}
