@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

.alert {
  font-size: 21px !important;
}

.reveal p {
  font-size: 24px !important;
}

.reveal code {
  font-size: 21px !important;
}

.btn {
  padding: .375rem .75rem !important;
}

#title-footer {
  height: 4vh !important;
}
